.about {
  text-align: left;
  font-size: 15px;
}

.about a {
  text-decoration: underline;
}

.about ul {
  list-style-type: square;
  margin:0;
  padding-left: 20px;
}

.about .goback {
  margin-top: 25px;
  font-size: 14px;
  display: block;
}

img#bg-killer {
  position: fixed;
  bottom: -75px;
  right: 10px;
  z-index: -10;
  transition: 500ms;
  width: 146px;
  height: 274px;
}

img#bg-killer:hover {
  bottom: 0;
}
