<div class="about">
  <p class="quote">
    "Silence ins't empty, it's full of answers"
  </p>

  <p class="comment">
    But not.
    <br />It's better if we talk to each other.
  </p>

  <p class="developedby">
    Developed by <a href="https://github.com/fellipeborges" target="_blank">Fellipe Borges</a>.
    <br>
    <a href="https://github.com/fellipeborges/awkward-silence-killer" target="_blank">
      Source code on Github.
    </a>
  </p>

  <p class="goback">
    <a routerLink="/">Go back to questions</a>
  </p>
</div>
