<div class="about">
  <p class="quote">
    "{{localizationService.Instance.aboutQuote}}"
  </p>

  <p class="comment">
    {{localizationService.Instance.butNot}}
    <br />{{localizationService.Instance.betterToTalk}}
  </p>

  <p class="developedby">
    {{localizationService.Instance.developedBy}} <a href="https://github.com/fellipeborges" target="_blank">Fellipe Borges</a>.
    <br>
    {{localizationService.Instance.questionsFrom}} <a href="https://reddit.com/r/askReddit" target="_blank">r/askReddit</a>.
    <br>
    <a href="https://github.com/fellipeborges/awkward-silence-killer" target="_blank">
      {{localizationService.Instance.sourceCodeOn}}
    </a>
  </p>

  <p class="goback">
    <button class="fixed-btn" routerLink="/">{{localizationService.Instance.btnGoBackToQuestions}}</button>
  </p>
</div>
