<!-- <div class="about">
    > {{localizationService.Instance.developedBy}} <a href="https://github.com/fellipeborges" target="_blank">Fellipe Borges</a>.

    <br>

    > {{localizationService.Instance.questionsFrom}} <a href="https://reddit.com/r/askReddit" target="_blank">r/askReddit</a>.

    <br>

    > {{localizationService.Instance.sourceCodeOn}} <a href="https://github.com/fellipeborges/awkward-silence-killer" target="_blank">Github</a>.

    <button class="btn goback" routerLink="/">{{localizationService.Instance.btnGoBackToQuestions}}</button>
</div> -->

<div class="about">
  <ul>
    <li>
      {{localizationService.Instance.developedBy}} <a href="https://github.com/fellipeborges" target="_blank">Fellipe Borges</a>
    </li>

    <li>
      {{localizationService.Instance.questionsFrom}} <a href="https://reddit.com/r/askReddit" target="_blank">r/askReddit</a>
    </li>

    <li>
      {{localizationService.Instance.sourceCodeOn}} <a href="https://github.com/fellipeborges/awkward-silence-killer" target="_blank">Github</a>
    </li>
  </ul>

  <button class="btn goback" routerLink="/">{{localizationService.Instance.btnGoBackToQuestions}}</button>
</div>

<img id="bg-killer" src="../../assets/img/silence-killer.png">
