<div class="question">

  <!-- The question -->
  <p class="quote" *ngIf="currentQuestion">
    "{{localizationService.localizeQuestion(currentQuestion)}}"
  </p>

  <!-- Other question button-->
  <button class="btn" (click)="showNextRandomQuestion()" *ngIf="!noFurtherQuestions()">
    {{localizationService.Instance.btnAnother}}
  </button>

  <!-- No further questions available-->
  <p class="nofurtherquestions" *ngIf="noFurtherQuestions()">
    {{localizationService.Instance.noFurterQuestions}}
    <button class="btn" (click)="restartQuestions()">
      {{localizationService.Instance.btnRestart}}
    </button>
  </p>

</div>
