<div class="question">

  <!-- The question -->
  <p class="quote" *ngIf="current">
    "{{current.text}}"
  </p>

  <!-- Other question button-->
  <button class="fixed-btn" (click)="showNextRandomQuestion()" *ngIf="!noFurtherQuestions()">
    Another
  </button>

  <!-- No further questions available-->
  <p class="nofurtherquestions" *ngIf="noFurtherQuestions()">
    Oops... Looks like we are out of questions.
    <button class="fixed-btn" (click)="restartQuestions()">Restart</button>
  </p>

</div>
