<div class="question">

  <!-- The question -->
  <p class="quote" *ngIf="current">
    "{{current.text}}"
  </p>

  <!-- Other question button-->
  <button class="fixed-btn" (click)="showNextRandomQuestion()" *ngIf="!noFurtherQuestions()">
    {{localizationService.Instance.btnAnother}}
  </button>

  <!-- No further questions available-->
  <p class="nofurtherquestions" *ngIf="noFurtherQuestions()">
    {{localizationService.Instance.noFurterQuestions}}
    <button class="fixed-btn" (click)="restartQuestions()">
      {{localizationService.Instance.btnRestart}}
    </button>
  </p>

</div>
